<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Touch_event.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>816E0DAA1C46580E00FF00BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>816E0DBE1C46581000FF00BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>816E0DC91C46581000FF00BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
